@using JrzAsp.Lib.TypeUtilities
@using WebApp.Features.MetronicTheme
@{
    var tplId = $"vue-tpl-{Randomer.Self.Next()}";
}
@using (Html.AtEndPagePluginsScripts()) {
    <script type="text/x-template" id="@tplId">
        <div>
            <div class="well well-sm" v-for="(fit, idx) in formObject.Items" :key="idx">
                <div class="row">
                    <div class="col-xs-10">
                        <div v-show="fit.IsEnabled">
                            <cms-form-field-checkbox :form-object="fit" value-path="IsNullValue"
                                                     yes-label="Null number value"
                                                     no-label="Non-null number value"></cms-form-field-checkbox>
                            <cms-form-field-number v-show="!fit.IsNullValue"
                                                   :form-object="fit" value-path="MinNumber" :number-kind="fit.VueProps.numberKind"
                                                   :help-text="fit.VueProps.helpText" :label="'Min ' + fit.VueProps.label"
                                                   :placeholder="fit.MinNumber == null ? '@decimal.MinValue' : ''"></cms-form-field-number>
                            <cms-form-field-number v-show="!fit.IsNullValue"
                                                   :form-object="fit" value-path="MaxNumber" :number-kind="fit.VueProps.numberKind"
                                                   :help-text="fit.VueProps.helpText" :label="'Max ' + fit.VueProps.label"
                                                   :placeholder="fit.MinNumber == null ? '@decimal.MaxValue' : ''"></cms-form-field-number>
                            <cms-form-field-checkbox v-show="!fit.IsNullValue"
                                                     :form-object="fit" value-path="GreaterThanOrEqualToMin"
                                                     yes-label="( >= ) Greater than or equal to min"
                                                     no-label="( > ) Greater than min"></cms-form-field-checkbox>
                            <cms-form-field-checkbox v-show="!fit.IsNullValue"
                                                     :form-object="fit" value-path="LessThanOrEqualToMax"
                                                     yes-label="( <= ) Less than or equal to max"
                                                     no-label="( < ) Less than max"></cms-form-field-checkbox>
                        </div>
                        <label v-show="!fit.IsEnabled" v-html="fit.VueProps.label"></label>
                    </div>
                    <div class="col-xs-2 text-right">
                        <cms-widget-toggle-button size="xs" yes-label="Enabled" no-label="Disabled"
                                                  v-model="fit.IsEnabled"></cms-widget-toggle-button>
                    </div>
                </div>
            </div>
        </div>
    
    </script>
    <script type="text/javascript">
        $(function () {
            var ffm = protoCms.mixins.formFieldMixin;
            var comp = {
                name: 'cms-widget-number-field-table-filter',
                template: '#@tplId',
                mixins: [ffm],
                data: function() {
                    return {}
                },
                computed: {
                    inputVal: {
                        get: function() {
                            return this.getFormValue();
                        },
                        set: function(newVal) {
                            this.setFormValue(newVal);
                        }
                    }
                }
            };
            Vue.component(comp.name, comp);
        });
    </script>
}