<!-- BEGIN TOP NAVIGATION MENU -->
<div class="top-menu">
    <ul class="nav navbar-nav pull-right">
        <!-- BEGIN NOTIFICATION DROPDOWN -->
        @*@{ Html.RenderPartial("~/Views/Shared/_MetronicTheme/Header/TopNavMenu/_ExtraDropdowns.cshtml"); }*@
        @{ Html.RenderPartial("~/Views/Shared/_MetronicTheme/Header/TopNavMenu/_UserLoginDropdown.cshtml"); }
        @*@{ Html.RenderPartial("~/Views/Shared/_MetronicTheme/Header/TopNavMenu/_QuickSidebarToggler.cshtml"); }*@
    </ul>
</div>
<!-- END TOP NAVIGATION MENU -->