@using WebApp.Features.MetronicTheme
@using JrzAsp.Lib.ProtoCms
@{
    var logoUrl = ProtoCmsAppSettings.LogoUrl ?? "~/Content/MetronicTheme/assets/layouts/layout/img/logo.png";
}
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="@Url.CmsDashUrl()">
                <img src="@Url.Content(logoUrl)?width=86&height=14" alt="logo" class="logo-default" /> </a>
            <div class="menu-toggler sidebar-toggler">
                <span></span>
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span></span>
        </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        @{ Html.RenderPartial("~/Views/Shared/_MetronicTheme/Header/_TopNavMenu.cshtml"); }
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->